* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #eac2f8, #739eda);
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 2rem;
    color: #405db5;
}

/* Estilos básicos del menú */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;

}

nav ul li {
    position: relative; /* Necesario para los submenús */
    margin-left: 50px;
}

nav ul li a {
    text-decoration: aqua;
    color: #2251df;
    font-style: italic;
    font: bold;
    padding: 20px 50px;
    display: block;
    font-weight: bold;
}

/* Estilos para el submenú */
nav ul li ul.submenu {
    display: none; /* Ocultamos el submenú por defecto */
    position: absolute; /* Para posicionarlo sobre el menú principal */
    top: 100%; /* Muestra el submenú justo debajo del menú principal */
    left: 0;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav ul li ul.submenu li {
    width: 200px; /* Ancho del submenú */
}

nav ul li ul.submenu li a {
    padding: 10px;
    background-color: #fff;
    color: #405db5;
}

/* Efecto hover para mostrar el submenú */
nav ul li:hover ul.submenu {
    display: block; /* Mostramos el submenú cuando el mouse está sobre el elemento principal */
}

/* Efecto hover para los elementos del submenú */
nav ul li ul.submenu li a:hover {
    background-color: #f0f4fd;
    color: #333;
}

/* Estilo para el menú en general */
nav ul li a:hover {
    background-color: #f0f4fd;
    color: #333;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    float: right;
}

.hero-content h2 {
    font-size: 3rem;
    color: #204ed7;
    float: right;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #666;
    float: right;
}

.hero-image img {
    width: 600px;
    height: auto;
    position: initial;
    padding: 20px;
    float: left;
    

}

.cta-icons {
    position: fixed;
    bottom: 8%;
    right: 30px;
}

.cta-icons img {
    width: 80px;
    margin: 0 10px;
    cursor: pointer;
}

footer {
    background-color: #405db5;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
